[package]
name = "unic-locale"
description = "API for managing Unicode Locale Identifiers"
version = "0.4.1"
authors = ["Zibi Braniecki <gandalf@mozilla.com>"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/zbraniecki/unic-locale"
license = "MIT/Apache-2.0"
categories = ["internationalization"]

[dependencies]
unic-langid-impl = "0.4"
unic-locale-impl = "0.4"
unic-locale-macros = { path = "../unic-locale-macros", optional = true }

[dev-dependencies]
unic-locale-macros = { path = "../unic-locale-macros" }

[features]
default = []

# Provide macros.
macros = ["unic-locale-macros"]
